.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}

.Form{
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
}

button{
  margin-top: 10px;
}


